<h3> <%= @question.description %></h3>
<br>
<br>
<h3><%= @question.video_url %></h3>
<br>
<%= turkee_form_for(@response, params) do |f| %>
	<%= f.text_field :rating, :disabled => @disabled %>
	<%= f.hidden_field :question_id, value: @question.id %>
	<%= f.label "(1-10, 10 being amazing cat-tastic, 1 being kitty nibble)" %>

	<%= f.submit "submit rating", :disabled => @disabled %>
<% end %>



<p>disabled?...<%= @disabled %></p>